<!DOCTYPE html>
   <html lang="en">
      <head>
         <meta charset="utf-8">
         <title>OnlyYesterday</title>
         <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
         <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js'></script>
          <script type="text/javascript" src="js/better_list.js"></script>
      </head>
      <body>
<form action="http://only-yesterday.herokuapp.com/api" method="get">
<p>Only Yesterday API TEST</p>
<p>緯度：<input type="text" name="lat" size="10" maxlength="10"></p>
<p>経度：<input type="text" name="lon" size="10" maxlength="10"></p>
<p><input type="submit" value="送信する"></p>

</form>

</table>

<table>
<colgroup>
<col style="text-align:left;"/>
<col style="text-align:left;"/>
</colgroup>

<thead>
<tr>
  <th style="text-align:left;">Code</th>
  <th style="text-align:left;">Weather</th>
</tr>
</thead>

<tbody>
<tr>
  <td style="text-align:left;">0</td>
  <td style="text-align:left;">雷雨</td>
</tr>
<tr>
  <td style="text-align:left;">1</td>
  <td style="text-align:left;">霧雨</td>
</tr>
<tr>
  <td style="text-align:left;">2</td>
  <td style="text-align:left;">雨</td>
</tr>
<tr>
  <td style="text-align:left;">3</td>
  <td style="text-align:left;">雪</td>
</tr>
<tr>
  <td style="text-align:left;">4</td>
  <td style="text-align:left;">しめっぽい</td>
</tr>
<tr>
  <td style="text-align:left;">5</td>
  <td style="text-align:left;">曇り</td>
</tr>
<tr>
  <td style="text-align:left;">9</td>
  <td style="text-align:left;">エラー</td>
</tr>
</tbody>
</table>

<table>
<colgroup>
<col style="text-align:left;"/>
<col style="text-align:left;"/>
<col style="text-align:left;"/>
</colgroup>

<thead>
<tr>
  <th style="text-align:left;">City</th>
  <th style="text-align:left;">緯度</th>
  <th style="text-align:left;">経度</th>
</tr>
</thead>

<tbody>
<tr>
  <td style="text-align:left;">東京都中央区銀座7&#8211;2&#8211;6</td>
  <td style="text-align:left;">35.670853</td>
  <td style="text-align:left;">139.760531</td>
</tr>
<tr>
  <td style="text-align:left;">ロンドン</td>
  <td style="text-align:left;">51.508515</td>
  <td style="text-align:left;">-0.125487</td>
</tr>
<tr>
  <td style="text-align:left;">パリ</td>
  <td style="text-align:left;">48.856614</td>
  <td style="text-align:left;">2.352222</td>
</tr>
<tr>
  <td style="text-align:left;">南極</td>
  <td style="text-align:left;">-82.862752</td>
  <td style="text-align:left;">-135</td>
</tr>
</tbody>
</table>
</body>
</html>